<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1 id="tara">
    bye bye to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<button id="jun" (click)="tada()">click </button> -->


<div class="columns" style="margin-top: 100px;">
  <div class="column is-2">
  </div>
  <div class="column is-8">
    <div class="columns">
      <div class="column is-5">
        <div class="romegotoSigninleft ">
          ROME

          <br><br><br>
          <button id="gotoHome" (click)="tohome()" class="button is-info">go HOme</button>
        </div>
      </div>
      <div class="column is-7">
        <div class="romeSignuppage ">
          THIS IS ROME
        </div>
      </div>
    </div>
  </div>
  <div class="column is-2">
  </div>
</div>



















